body {
  background-color: #f7ffff !important;
  font-family: comforta !important;
}

@font-face {
  font-family: comforta;
  src: url(Comfortaa-Regular.ttf);
}

/* HORIZONTAL SCROLL */
.hourlyForecast > .row {
  overflow-x: scroll;  
}

.hourlyForecast > .row > .col {
  display: inline-block;
  float: none;
  margin-right: 15px; 
  margin-left: 15px;
}

.dropdown-menu {
  min-width: 300px !important;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #01abb1;01abb1
  /*border: 1px dashed #3cfaff;*/
  border-radius: 0px;
}
/*::-webkit-scrollbar-thumb:hover {
  background: #009399;
}*/
::-webkit-scrollbar-thumb:active {
  background: #00faff;
}
::-webkit-scrollbar-track {
  background: #105d64;
  border: 1px groove #00d6e1;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #005d64;
}
::-webkit-scrollbar-track:active {
  background: #105d64;
}
::-webkit-scrollbar-corner {
  background: transparent;
}